{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="articleWrapper">
  <div class="articleCardWrapper">
        <h5>The hammerdirt api-home</h5>
        <h6><i>Are you looking for the hammerdirt page* ?</i></h6>

        <p>
            The hammerdirt app is located at <a href="https://www.hammerdirt.ch">https://www.hammerdirt.ch</a>. This page
            is for accessing data with another application or program.
       </p>
       <div class="muted">
           *The new application will not function with Internet Explorer or older versions of Chrome, Opera or FireFox.
            Update your browser on all devices before trying to use the new page.
       </div>
        <h6>Contents:</h6>
        <ol>
            <li>Data format</li>
            <li>Contact-questions</li>
            <li>Making requests</li>
            <li>URL and prefixes</li>
        </ol>
    <h6>1. Data format</h6>
    <p>
        The data is exported in JSON format. For non calculated or grouped queries the keys of the JSON objects correspond to
        the field names of the original data model. Accessing the api with JavaScript or Python is very
        straight forward. <span class="emphasis">In JS use the fetch api, in Python use the requests library.</span>
    </p>
    <h6>2. Contact-questions?</h6>
    <ul>
    <li>
        <span class="emphasis">Requesting access:</span> send an email to roger [at] hammerdirt.ch. Let me know who you are and why you need special access.
   </li>
   <li>
       <span class="emphasis">Usage:</span> this data is intended for public use. You may use it, just let people know where you got it.
   </li>
   <li>
       <span class="emphasis">Contribute:</span> send an email to hammerdirt-dev@hammerdirt.ch
   </li>
</ul>
  </div>
  <div class="articleCardWrapper">
      <h6>3. Request data: JavaScript</h6>
      <pre ><code class="language-js linenumber">// url-prefix is the current domain of the api
  const a_code = fetch('http://url-prefix/api/mlw-codes/detail/G70');
  const my_code = await a_code.then(data => data.json());
  console.log(my_code)
  output: {
      code: "G70",
      material: "Plastic",
      description: "Shotgun cartridges",
      source: "Recreation"
  }       </code></pre>
      <h6>Request data: Python</h6>
      <pre><code class="linenumber language-python">
  import requests
  data = requests.get('http://url-prefix/api/list-of-beaches/')
  my_data = data.json()
  my_data[:1]
  output:[{
      "location": "A l ombre",
      "latitude": "43.81119100",
      "longitude": "4.64817800",
      "city": "Beaucaire",
      "post": "30032",
      "country": "FR",
      "water": "r",
      "water_name": "Rhï¿½ne en aval",
      "slug": "a-l-ombre",
      "city_slug": "beaucaire",
      "water_name_slug": "rhone-en-aval"
  },...{"For all locations in the database"}]</code></pre>
  </div>
  <div class="articleCardWrapper100">
    <div class="articleSummary100">
          <h6>4 URLS and prefixes</h6>
          <h6>Get methods </h6>
          <p>
              The following endpoints accept a GET method and return a JSON object. For more information visit the
              the hammerdirt api repo on Github <a href="https://github.com/hammerdirt-dev/hammerdirt_api">hammerdirt on Github</a>.
          </p>
          <p>
            URL prefix: https://mwshovel.pythonanywhere.com/api/
          </p>
    </div>
    <div class="articleSummary100">
       <h5>Location data: endpoints that provide geodata on specific locations or location groups.</h5>
       <p>
         All survey locations: <a href="https://mwshovel.pythonanywhere.com/api/list-of-beaches/">prefix/list-of-beaches/</a>
       </p>
       <p>
         Location categories: <a href="https://mwshovel.pythonanywhere.com/api/list-of-beaches/categories/">prefix/list-of-beaches/categories/</a>
       </p>
       <p>
        Beaches grouped by category: <a href="https://mwshovel.pythonanywhere.com/api/list-of-beaches/by-category/">prefix/list-of-beaches/by-category/</a>
       </p>
       <h6> Switzerland only:</h6>
       <p>
         Survey locations in Switzerland: <a href="https://mwshovel.pythonanywhere.com/api/list-of-beaches/swiss/">prefix/list-of-beaches/swiss/</a>
       </p>
       <p>
         Location categories: <a href="https://mwshovel.pythonanywhere.com/api/list-of-beaches/categories/swiss/">prefix/list-of-beaches/categories/swiss/</a>
       </p>
       <p>
        Locations grouped by category: <a href="https://mwshovel.pythonanywhere.com/api/list-of-beaches/by-category/swiss/">prefix/list-of-beaches/by-category/swiss/</a>
       </p>
    </div>
    <div class="articleSummary100">
        <h5>Survey data: endpoints that provide non aggregated survey data grouped and not grouped</h5>
        <p>
           All survey results: <a href="https://mwshovel.pythonanywhere.com/api/surveys/survey-results/">prefix/surveys/survey-results/</a>
           <br/><br/>
           This endpoint can be queried by date or country:
           <br/>
           Survey data from Switzerland after 2020-01-01 <a href="https://mwshovel.pythonanywhere.com/api/surveys/survey-results/?location__country=CH&date=2020-01-01">
             prefix/surveys/survey-results/?location__country=CH&date=2020-01-01
            </a>
        </p>
        <p>
           Survey results grouped by location: <a href="https://mwshovel.pythonanywhere.com/api/surveys/daily-totals/code-totals/">prefix/surveys/daily-totals/code-totals/</a>
        </p>
        <h6> Switzerland only:</h6>
        <p>
         All survey results from Switzerland grouped by location: <a href="https://mwshovel.pythonanywhere.com/api/surveys/daily-totals/code-totals/swiss/">prefix/surveys/daily-totals/code-totals/swiss/</a>
        </p>
    </div>
    <div class="articleSummary100">
       <h5>Survey data: endpoints that provide aggregated survey data</h5>
       <p>
         Total pcs/m per survey grouped by location: <a href="https://mwshovel.pythonanywhere.com/api/surveys/daily-totals/">prefix/surveys/daily-totals/</a>
       </p>
       <p>
         Aggregated sum per code for each city: <a href="https://mwshovel.pythonanywhere.com/api/code-totals/cities/">prefix/code-totals/cities/</a>
       </p>
       <p>
         Aggregated sum per code for each body of water: <a href="https://mwshovel.pythonanywhere.com/api/code-totals/water-bodies/">prefix/code-totals/water-bodies/</a>
       </p>
       <h6> Switzerland only:</h6>
       <p>
         Total pcs/m per survey grouped by location: <a href="https://mwshovel.pythonanywhere.com/api/surveys/daily-totals/swiss/">prefix/surveys/daily-totals/swiss/</a>
       </p>
       <p>
         Aggregated sum per code for each city: <a href="https://mwshovel.pythonanywhere.com/api/code-totals/cities/swiss/">prefix/code-totals/cities/swiss/</a>
       </p>
       <p>
         Aggregated sum per code for each body of water: <a href="https://mwshovel.pythonanywhere.com/api/code-totals/water-bodies/swiss/">prefix/code-totals/water-bodies/swiss/</a>
       </p>
    </div>
    <div class="articleSummary100">
       <h5>Dimensional data:</h5>
       <p>
         For the project 2020-2021 we record the weights of plastic and non plastic items, the total time
         per survey(including counting/sorting/dataentry), the number of particpants, the area and the name of any other groups that participated.
       </p>
       <p>
         All dimensional data: <a href="https://mwshovel.pythonanywhere.com/api/surveys/dim-data/dim-data-list/">prefix/surveys/dim-data/dim-data-list/</a>
         <br/><br/>
         This endpoint can be queried by date or location:
         <br/>
         Dimensional data from plage-de-cheyres since 2020-04-01  <a href="https://mwshovel.pythonanywhere.com/api/surveys/dim-data/dim-data-list/?location=plage-de-cheyres&date=2020-01-01">
           prefix/surveys/dim-data/dim-data-list/?location=plage-de-cheyres&date=2020-01-01
          </a>
       </p>
    </div>
    <div class="articleSummary100">
       <h5>Code data: endpoints that provide code definitions</h5>
       <p>
         List of object codes in use: <a href="https://mwshovel.pythonanywhere.com/api/mlw-codes/list/">prefix/mlw-codes/list/</a>
         <br/><br/>
         This endpoint can be queried by source or material:
         <br/>
         Codes that are plastic and grouped under utility items<a href="https://mwshovel.pythonanywhere.com/api/mlw-codes/list/?source=utility items&material=Plastic">
           prefix/mlw-codes/list/?source=utility items&material=Plastic
          </a>
       </p>
       <p>
         Details for one code: <a href="https://mwshovel.pythonanywhere.com/api/mlw-codes/detail/G79">prefix/mlw-codes/detail/put-code-here'</a>
       </p>
    </div>
    <div class="articleSummary100">
       <h5>Articles: endpoints that provide the current articles</h5>
       <p>
         List of current articles: <a href="https://mwshovel.pythonanywhere.com/api/article-view/">prefix/article-view/</a>
         <br/><br/>
         This endpoint can be queried by subject and/or date of last edit:
         <br/>
         Dev notes last edited since 2020-01-06:
         <a href="https://mwshovel.pythonanywhere.com/api/article-view/?subject=Dev notes&last_edit=2020-01-06T00:00:00Z">
           prefix/article-view/?subject=Dev notes&last_edit=2020-01-06T00:00:00Z
          </a>
       </p>
    </div>
  </div>
</div>



{% endblock %}
